.container-listfood {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.list-food {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  flex-direction: column;
  cursor: pointer;
}

.item-food {
  padding: 1rem;
  border: 0.1rem solid rgb(158, 158, 158);
  width: 100%;
  margin: 0.2rem 0 0.2rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-food:hover {
  border: 0.1rem solid #ff4d4f;
  color: #ff4d4f;
}

.value {
  opacity: 0.6;
}

.value-delete {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.delete {
  transition: 0.2s ease-in-out;
  color: #ff4d4f;
}

.delete:hover {
  transform: scale(1.2);
  color: #ff7578;
}
